#form{
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 30px 30px 30px 30px;
}

.duration{
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
    background-color: #000000d7;
    color: white;
}

#cont{
    position: relative;
}

img{
    width: 100%;
    height: auto;
}

#view{
    color: gray;
}

#videos{
    margin-bottom: auto;
}